<link rel="stylesheet" href="{{asset_root}}/stylesheets/material.min.css">
<link rel="stylesheet" href="{{asset_root}}/stylesheets/palette.min.css">
<link rel="stylesheet" href="{{asset_root}}/stylesheets/extras.css">
{{{head_extras}}}
