<form class="md-search" data-md-component="search" role="search">
  <label class="md-search__overlay" for="__search"></label>
  <div class="md-search__inner">
    <span class="md-search__icon" aria-hidden="true"><i class="fa-solid fa-magnifying-glass"></i></span>
    <input
      type="search"
      class="md-search__input"
      id="__search"
      name="query"
      placeholder="Search"
      autocomplete="off"
      autocapitalize="off"
      spellcheck="false"
      data-md-component="search-query">
  </div>
</form>
