<div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc"{{#hide_toc}} hidden{{/hide_toc}}>
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <nav class="md-nav md-nav--secondary" aria-label="Table of contents">
        <label class="md-nav__title" for="__toc">Table of contents</label>
        <!--@@toc@@-->
      </nav>
    </div>
  </div>
</div>
