<div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation"{{#hide_navigation}} hidden{{/hide_navigation}}>
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <nav class="md-nav md-nav--primary" aria-label="Navigation" data-md-level="0">
        <!--@@nav@@-->
      </nav>
    </div>
  </div>
</div>
