<script type="importmap">
{
  "imports": {
    "@material/web/": "{{asset_root}}/vendor/@material/web/",
    "@lit/reactive-element": "{{asset_root}}/vendor/@lit/reactive-element/reactive-element.js",
    "@lit/reactive-element/": "{{asset_root}}/vendor/@lit/reactive-element/",
    "@lit-labs/ssr-dom-shim": "{{asset_root}}/vendor/@lit-labs/ssr-dom-shim/index.js",
    "lit": "{{asset_root}}/vendor/lit/index.js",
    "lit/": "{{asset_root}}/vendor/lit/",
    "lit-html": "{{asset_root}}/vendor/lit-html/lit-html.js",
    "lit-html/": "{{asset_root}}/vendor/lit-html/",
    "lit-element/": "{{asset_root}}/vendor/lit-element/",
    "tslib": "{{asset_root}}/vendor/tslib/tslib.es6.mjs"
  }
}
</script>
<script type="module" src="{{asset_root}}/javascripts/material-web-init.js"></script>
<script src="{{asset_root}}/javascripts/material3.js"></script>
