<div class="md-search" data-md-component="search" role="search">
  <label class="md-search__overlay" for="__search" aria-hidden="true"></label>
  <div class="md-search__inner">
    <form class="md-search__form" name="search">
      <input
        type="search"
        class="md-search__input"
        name="query"
        placeholder="Search"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
        aria-label="Search"
        data-md-component="search-query">
      <label class="md-search__icon md-icon" for="__search" aria-label="Open search">&#128270;</label>
    </form>
  </div>
</div>
