<div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation"{{#hide_navigation}} hidden{{/hide_navigation}}>
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <div class="md-nav__filter" data-md-component="nav-filter">
        <input type="search" class="md-nav__filter-input" placeholder="Filter…" aria-label="Filter navigation" autocomplete="off" spellcheck="false">
      </div>
      <nav class="md-nav md-nav--primary md-nav--lifted" aria-label="Navigation" data-md-level="0">
        <!--@@nav@@-->
      </nav>
    </div>
  </div>
</div>
